.footer {
  flex: 0 0 auto;
  margin-bottom: 10px;
}

.footer__about-btn {
  margin-bottom: 15px;
  color: #0065dc;
  font-weight: 700;
  cursor: pointer;
}

.footer img {
  width: 70px;
}

@media (max-width: 700px) {
  .footer img {
    width: 60px;
  }
}
