.main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn {
  margin: 0 auto;
  margin-top: 10px;
  width: 195px;
  height: 30px;
  background-color: #0065dc;
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
